<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AndroidSideloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AndroidADB.Sideloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AndroidSideloader.Properties.Settings>
            <setting name="checkForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableMessageBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logRclone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteAllAfterInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoUpdateConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userJsonOnGameInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
            <setting name="SubButtonColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="TextBoxColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="ComboBoxColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Microsoft Sans Serif, 11.25pt</value>
            </setting>
            <setting name="BackPicturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SpoofGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BandwithLimit" serializeAs="String">
                <value />
            </setting>
        </AndroidSideloader.Properties.Settings>
        <AndroidADB.Sideloader.Properties.Settings>
            <setting name="checkForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableMessageBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logRclone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteAllAfterInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoUpdateConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userJsonOnGameInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
            <setting name="SubButtonColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="TextBoxColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="ComboBoxColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Microsoft Sans Serif, 11.25pt</value>
            </setting>
            <setting name="BackPicturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SpoofGames" serializeAs="String">
                <value>False</value>
            </setting>
        </AndroidADB.Sideloader.Properties.Settings>
    </userSettings>
</configuration>