<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AndroidSideloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AndroidADB.Sideloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <AndroidSideloader.Properties.Settings>
            <setting name="checkForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableMessageBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteAllAfterInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoUpdateConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userJsonOnGameInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Microsoft Sans Serif, 11.25pt</value>
            </setting>
            <setting name="BackPicturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SpoofGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BigFontStyle" serializeAs="String">
                <value>Microsoft Sans Serif, 14pt</value>
            </setting>
            <setting name="ResignAPKs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="InstalledApps" serializeAs="String">
                <value />
            </setting>
            <setting name="ADBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MainDir" serializeAs="String">
                <value />
            </setting>
            <setting name="delsh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrPckg" serializeAs="String">
                <value />
            </setting>
            <setting name="ADBFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="WirelessADB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentGamename" serializeAs="String">
                <value />
            </setting>
            <setting name="PackageNameToCB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownUpHeld" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentLogName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentCrashPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentCrashName" serializeAs="String">
                <value />
            </setting>
            <setting name="adbdebugwarned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nodevicemode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BMBFchecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamesList" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadedGameList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeShared" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoReinstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NonAppPackages" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLaunch" serializeAs="String">
                <value>04/20/1969 16:20:00</value>
            </setting>
            <setting name="SubmittedUpdates" serializeAs="String">
                <value />
            </setting>
            <setting name="ListUpped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastLaunch2" serializeAs="String">
                <value>04/20/1969 16:20:00</value>
            </setting>
            <setting name="Wired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ComboBoxColor" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="SubButtonColor" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="TextBoxColor" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>1, 1, 1</value>
            </setting>
            <setting name="AppPackages" serializeAs="String">
                <value />
            </setting>
            <setting name="TrailersOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="downloadDir" serializeAs="String">
                <value />
            </setting>
            <setting name="customDownloadDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customBackupDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="backupDir" serializeAs="String">
                <value />
            </setting>
            <setting name="singleThreadMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="virtualFilesystemCompatibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </AndroidSideloader.Properties.Settings>
        <AndroidADB.Sideloader.Properties.Settings>
            <setting name="checkForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableMessageBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logRclone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteAllAfterInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoUpdateConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userJsonOnGameInstall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
            <setting name="SubButtonColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="TextBoxColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="ComboBoxColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Microsoft Sans Serif, 11.25pt</value>
            </setting>
            <setting name="BackPicturePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SpoofGames" serializeAs="String">
                <value>False</value>
            </setting>
        </AndroidADB.Sideloader.Properties.Settings>
    </userSettings>
</configuration>
